<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{subject}}</title>
  <style type="text/css">
    {{> (lookup . 'theme') }}
  </style>
</head>
<body>
  <table class="email-wrapper" width="100%">
    <tr>
      <td align="center">
        <table class="email-content" width="100%">