<tr>
  <td class="tx-details">
    <table>
      <tr>
        <th>Transaction</th>
        <td>{{txHashShort}}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{price}} {{currency}}</td>
      </tr>
    </table>
    <a href="{{txLink}}" class="button">View on Blockchain</a>
  </td>
</tr>